
body{
    background-color: beige;
}
.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.imagem{
    display: flex;
    justify-content: center;
    align-items: center;
}
.acesa{
    display: none;
}
